---
import theme from "@/data/theme";
import { MAP_COLOR_VARIANT_TO_TEXT, MAP_COLOR_VARIANT_TO_HOVER } from "@/utils/mapVariants";

import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
};

const { label, isUnderline, ...props } = Astro.props;
---

<a
  href={props.href}
  class:list={{
    // []: true,
    [`hover:${MAP_COLOR_VARIANT_TO_HOVER[theme.colors.primary]} cursor-pointer transition`]: true,
    ["underline decoration-dashed underline-offset-8 transition"]: isUnderline,
  }}
  {...props}
  rel="noreferrer"
  target="_blank"
>
  {label}
  <span class="sr-only">{label} link</span>
</a>
