<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Portfólio</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav-menu">
        <a href="/">Sobre</a>
        <a href="#projects">Projetos</a>
      </nav>
    </header>

    <section class="profile window-section" id="about">
      <img src="/img/github-profile.png" alt="Profile Picture" />
      <h1>André Felippe</h1>
      <h2>Estudante</h2>
      <p>
        Estudante de programação, com foco no front-end, atualmente com foco em
        HTML, CSS , Javascript e logo mais React.
        <a href="http://origamid.com" target="_blank" class="link-p"
          >Origamid</a
        >
      </p>

      <div class="nav-menu redes" id="redes">
        <div>
          <img src="" alt="" />
          <a href="https://github.com/afpp3" target="_blank">Github</a>
        </div>
        <div>
          <img src="" alt="" />
          <a href="https://twitter.com/" target="_blank">Twitter</a>
        </div>
        <div>
          <img src="" alt="" />
          <a href="https://www.linkedin.com/in/andre-felippe/" target="_blank"
            >Linkedin</a
          >
        </div>
        <div>
          <img src="" alt="" />
          <a href="mailto: afelipp3@gmail.com">Email</a>
        </div>
      </div>
    </section>

    <section class="projects window-section" id="projects">
      <div class="projects-container">
        <h1 class="section-title">Projetos</h1>
        <div class="cards">
          <div class="project-card">
            <div class="project-image">
              <img src="/img/bikcraft-previw.png" alt="" />
            </div>
            <div class="project-info">
              <h1>🚴‍‍Bikcraft</h1>
              <p>
                Site desenvolvido durante o curso de Desenvolvimento Web
                Completo da
                <a href="http://origamid.com" target="_blank" class="link-p"
                  >Origamid.</a
                ><br />
                Feito com HTML e CSS.
              </p>
            </div>
            <div class="project-links">
              <a href="https://github.com/afpp3/bikcraft" target="_blank"
                >Github</a
              >
              <a href="https://bikcraft-andre.vercel.app/" target="_blank"
                >Visit</a
              >
            </div>
          </div>

          <div class="project-card">
            <div class="project-image">
              <img src="/img/casa-criativa-previw.png" alt="" />
            </div>
            <div class="project-info">
              <h1>🏡Casa Criativa</h1>
              <p>
                Esse projeto foi realizado durante um workshop oferecido pela
                Rocketseat.O site conta com um formulário para adicionar e
                remover ideias de coisas para fazer em casa durante o período de
                quarentena, e uma outra página para listar todas essas idéias.
              </p>
            </div>
            <div class="project-links">
              <a href="https://github.com/afpp3/casa-criativa " target="_blank"
                >Github</a
              >
              <a href="https://casacriativa.herokuapp.com/" target="_blank"
                >Visit</a
              >
            </div>
          </div>

          <div class="project-card">
            <div class="project-image">
              <img src="/img/bikcraft-previw.png" alt="" />
            </div>
            <div class="project-info">
              <h1>🚴‍♂️Bikcraft</h1>
              <p>
                Site desenvolvido durante o curso de Desenvolvimento Web
                Completo da
                <a href="http://origamid.com" target="_blank" class="link-p"
                  >Origamid.</a
                ><br />
                Feito com HTML e CSS.
              </p>
            </div>
            <div class="project-links">
              <a href="https://github.com/afpp3/bikcraft" target="_blank"
                >Github</a
              >
              <a href="https://bikcraft-andre.vercel.app/" target="_blank"
                >Visit</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <p>André Felippe - 2020</p>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
